<% if service.body? || logged_in?(:site_admin, :editor) %>
  <%= link_to service_show_path(service) do%>
    <div data-id="<%= service.id %>">
      <%= image_tag(img(service.thumb_img.url, 'thumb'), class: "thumb-image")%>
    <div>
        <h3><%=service.title%></h3>
      </div>
    </div>
  <% end %>
<% else %>
  <div data-id="<%= service.id %>">
    <%= image_tag(img(service.thumb_img.url, 'thumb'), class: "thumb-image")%>
    <h3><%=service.title%></h3>
  </div>
<% end %>