<% @wellness_program.each do |wellness| %>
  <h2>
    <%= wellness.title %>
  </h2>

  <p>
    <%= wellness.subtitle %>
  </p>

  <p>
    <%= wellness.description %>
  </p>

  <p>
    <%= number_to_currency(wellness.price) %>
  </p>

  <div class="icons">
    <%= link_to "#{fa_icon 'edit'}".html_safe, edit_wellness_path(wellness) if logged_in?(:site_admin, :editor) %>
  </div>

<% end %>