 <%= stylesheet_link_tag params[:controller] %>

<section class="display-card">
  <% @wellness_program.each do |wellness| %>

  <div class='title'>
    <h2><%= wellness.title %></h2>

    <p><%= wellness.subtitle %></p>
  </div>

  <div class='content'>
    <p><%= wellness.description %></p>

    <p><%= number_to_currency(wellness.price) %></p>
  </div>
</section>

  <div class="icons">
    <%= link_to "#{fa_icon 'edit'}".html_safe, edit_wellness_path(wellness) if logged_in?(:site_admin, :editor) %>
  </div>

 <% end %>
