  <div>
    <div><%= link_to "Home", root_path %></div>
    <div><%= link_to "Services", services_index_path %></div>
    <div><%= link_to "Wellness Program", wellness_index_path %></div>
    <div><%= link_to "Contact Us", contact_index_path %></div>
    <div><%= link_to "Facebook", "https://www.facebook.com/Worland-Physical-Therapy-1551997184864218/", :target => "_blank" %></div>
    <%= login_helper %>
  </div>