<h2>Log in</h2>

<div class="display-card form">
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <section>
      <div>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
    </div>

    <div>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="check">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class:'btn btn-primary' %>
    </div>
    <% end %>
  </section>

</div>