<div class="display-card form">
  <%= form_for(@bios) do |f| %>
    <% if @bios.errors.any? %>
      <% @bios.errors.full_messages.each do |error| %>
       <%= alert_generator(error) %>
      <% end %>
    <% end %>

  <section>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :greeting %>
      <%= f.text_field :greeting %>
    </div>

    <div>
      <label class='btn'>
        Upload your Main Image <%= f.file_field :main_img, style: 'display:none;' %>
      </label>
    </div>

    <div>
      <label class='btn'>
        Upload your Thumb Image <%= f.file_field :thumb_img, style: 'display:none;' %>
      </label>
    </div>
  </section>

  <section>
    <div>
      <%= f.label :about_me %>
      <%= f.text_area :about_me, rows: 15 %>
    </div>
  </section>

</div>

    <div>
      <%= f.submit 'Save Therapist'%>
    </div>

      <% end %>