  <%= form_for(@bios) do |f| %>
    <% if @bios.errors.any? %>
      <% @bios.errors.full_messages.each do |error| %>
       <%= alert_generator(error) %>
      <% end %>
    <% end %>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div>
      <%= f.label :greeting %>
      <%= f.text_field :greeting, class: 'form-control' %>
    </div>

    <div>
      <label class='btn btn-info btn-sm'>
        Upload your Main Image <%= f.file_field :main_img, style: 'display:none;' %>
      </label>
    </div>

    <div>
      <label class='btn btn-info btn-sm'>
        Upload your Thumb Image <%= f.file_field :thumb_img, style: 'display:none;' %>
      </label>
    </div>

    <div>
      <%= f.label :about_me %>
      <%= f.text_area :about_me, class: 'form-control', rows: 15 %>
    </div>

    <div>
      <%= f.submit 'Save Therapist', class: 'btn btn-primary'%>
    </div>

  <% end %>