<h1>Our Therapists</h1>


<div class="album text-muted">
  <div class="container">
      <% @bios.each do |bio| %>
        <%= link_to about_me_path(bio) do%>
          <div class="card">
            <%= image_tag bio.thumb_img unless bio.thumb_img.nil? %>
            <div class="card-text">
              <div><%=bio.name %>   |   <%= bio.greeting %></div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div> 

<% if logged_in?(:site_admin, :editor) %>
  <div class="card">
    <%= image_tag "http://via.placeholder.com/50x50"%>
    <div class="card-text">
      <span class=""><%= link_to "Add Therapist", new_about_path%></span>| 
    </div>
  </div>
<% end %>