<h1>Our Therapists</h1>

<div class="album card-text">
  <div class="container">
    <div class="row sortable">
        <% @bios.each do |bio| %>
          <%= link_to about_me_path(bio) do%>
            <div class="card" data-id="<%= bio.id %>">
              <%= image_tag bio.thumb_img unless bio.thumb_img.nil? %>
              <div class="card-text">
                <h3><%=link_to bio.name, about_me_path(bio) %></h3>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div> 

<% if logged_in?(:site_admin, :editor) %>
  <%= link_to new_about_path do%>
    <div class="icons">
      <p>Add Therapist <%= fa_icon 'plus' %></p>
    </div>
  <% end %>
<% end %>