<h1>Bio Show Page</h1>

<h1><%= @bios.name %></h1>

<em><%= @bios.greeting %></em>

<p><%= @bios.about_me %></p>

<%= image_tag @bios.main_img unless @bios.main_img.nil?%>
<div><%= link_to "Edit", about_edit_path(@bios)%></div>