<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited the Creation of New Therapist</h2>

      <ul>
      <% @section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label class='btn btn-info btn-sm'>
      Upload your Image <%= f.file_field :main_img, style: 'display:none;' %>
    </label>
  </div>

  <div class="actions">
    <%= f.submit 'Save Service Category', class: 'btn btn-primary'%>
  </div>
<% end %>