<div class="display-card form">
  <%= form_for(@section) do |f| %>
    <% if @section.errors.any? %>
      <% @section.errors.full_messages.each do |error| %>
        <%= alert_generator(error) %>
      <% end %>
    <% end %>
    <section>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div>
        <label class='btn'>
          Upload your Image <%= f.file_field :main_img, style: 'display:none;' %>
        </label>
      </div>
    </section>
</div>
    <div class='submit'>
      <%= f.submit 'Save Service Category'%>
    </div>
  <% end %>