<h2><%= @section.title %></h2>
<%= link_to "Add Service", service_new_path if logged_in?(:site_admin, :editor)%>

<% @services.each do |service| %>
  <h2><%= link_to service.title, service_show_path(service) %></h2>
  <p><%= service.subtitle %></p>
  <p><%= service.body %></p>
  <div><%= image_tag service.thumb_img unless service.thumb_img.nil? %></div>
<% end %>